.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .video-container {
    margin: 15px;
    text-align: center;
    width: 300px;
  }
  
  .video-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .video-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .video-description {
    font-size: 14px;
    color: #555;
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 1rem 0;
   
    bottom: 0;
    width: 100%;
}

.social-icon {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}